* {
    margin: 0; 
    padding: 0; 
    box-sizing: boxer-box; 
    overflow-x: hidden; 
}

.body {
    background-color: rgba(77, 72, 72, 0);
    height: 100vh; 
    display: flex; 
    flex-direction: column; /*всё юудет друг под другом а не в строчку*/ 
}

.main-container {
    display: flex; 
    width: 100%;
    flex: 1; 
    overflow: hidden;
}

.header {
    width: 100%; 
    display: flex; 
    padding: 0 24px; 
    height: 60px;
    background-color: rgb(27, 182, 78); 
    align-items: center; 
    flex-shrink: 0;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 4px rgba(34, 34, 36, 0.3);
}

.header img {
    object-fit: contain;
    height: 32px;
    width: auto;
}

.sidebar {
    width: 250px;
    display: flex;
    height: calc(100vh - 60px); 
    padding: 20px 16px; /*отступы слева-справа*/
    flex-shrink: 0; 
    background-color: #fafbfc;
    border-right: 1px solid #e6ecf0;
    flex-direction: column; 
    gap: 8px; /*расстояние между блоками */ 
}

.right_part_of_site {
    width: calc(100% - 250px);  
    height: calc(100vh - 60px);  
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: -10px;
}

.content {
    background-color: aqua;
    height: 75%;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(34, 34, 36, 0.6);
    margin-right: -6px;
}

.output {
    background-color: bisque;
    height: calc(100vh - 75%);
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(34, 34, 36, 0.6);
    border-radius: 5px;
    margin-right: -6px;
}


