* {
    margin: 0; 
    padding: 0; 
    box-sizing: boxer-box; 
    overflow-x: hidden; 
}

.body {
    background-color: rgba(77, 72, 72, 0);
    height: 100vh; 
    display: flex; 
    flex-direction: column; /*всё юудет друг под другом а не в строчку*/ 
}

.main-cotainer {
    display: flex; 
    width: 100%;
    flex: 1; 
    overflow: hidden;
}

.header {
    width: 100%; 
    display: flex; 
    padding: 0 24px; 
    height: 60px;
    background-color: rgb(27, 182, 78); 
    align-items: center; 
    flex-shrink: 0;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 4px rgba(34, 34, 36, 0.02);
}

.header img {
    object-fit: contain;
    height: 32px;
    width: auto;
}

.sidebar {
    width: 250px;
    display: flex;
    height: calc(100vh - 60px); 
    padding: 20px 16px; /*отступы слева-справа*/
    flex-shrink: 0; 
    background-color: #fafbfc;
    border-right: 1px solid #e6ecf0;
    flex-direction: column; 
    gap: 8px; /*расстояние между блоками */ 
}



