* {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
}

.body {
    background-color: rgba(77, 72, 72, 0);
    height: 100vh; 
    display: flex; 
    flex-direction: column; /*всё юудет друг под другом а не в строчку*/ 
}

.content svg {
    width: 100%; 
    height: 100%; 
    display: block; 
    cursor: default; /* По умолчанию */
}

#canvas:active {
    cursor: grabbing;
}

.row_blocks, .row1_blocks, .row2_blocks, .row3_blocks {
    overflow: visible !important;
}


.main-container {
    display: flex; 
    width: 100%;
    flex: 1; 
    overflow: hidden;
}

.header {
    width: 100%; 
    display: flex; 
    padding: 0 24px; 
    height: 60px;
    background-color: rgb(27, 182, 78); 
    align-items: center; 
    flex-shrink: 0;
    border-bottom: 1px solid #ffffff;
    border-bottom-left-radius: 10px; 
}

.header img {
    object-fit: contain;
    height: 32px;
    width: auto;
}

.sidebar {
    background-color: #fafbfc;
    height: calc(100vh - 60px); 
    width: 250px;
    display: flex;
    flex-shrink: 0; 
    padding: 20px 16px;
    border-right: 1px solid rgba(200, 200, 200, 0.5);
    flex-direction: column; 
    gap: 8px;
    
    overflow-y: auto;  
}

.right_part_of_site {
    height: calc(100vh - 60px); 
    width: calc(100% - 250px);  
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    margin: 2px;
}

.content {
    background-color: rgba(255, 255, 255, 0.993);
    height: 75%;
    border-radius: 5px;
    margin-right: -10px;
    margin-top: -6px;
    box-shadow: 0 1px 4px rgba(34, 34, 36, 0.6);
    margin-left: -6px;
    
    background-size: 20px 20px;
    background-image: radial-gradient(circle, rgba(200,200,200,0.5) 1px, transparent 1px);
    /*добавляет точечки */
}

.top-content {
    position: absolute;
    top: 90px;
    right: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.button {
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
    font-family: Consolas, monospace;
    cursor: pointer;
    transition: 0.2s;
}

.start_button {
    background: #00c14a;
    color: white;
}

.clear_button {
    background: rgb(187 0 0);
    color: white;
}

.clear_button:hover {
    transform: translateY(-2px);
}

.output {
    position: relative;

    height: calc(100vh - 75%);
    margin-right: -10px;
    margin-left: -6px;
    margin-bottom: 15px;
    border-radius: 14px;

    background: rgb(26 75 169 / 55%);
    backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    font-family: Consolas, monospace;
    color: #e6e6e6;
    overflow: hidden;
}

.output::after{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: 14px;

    background-color: rgba(26, 75, 169, 0.55);

    background-image: 
        repeating-linear-gradient(
            45deg,
          rgba(255, 255, 255, 0.12) 0px,
          rgba(255, 255, 255, 0.12) 1px,
          transparent 1px,
          transparent 2px
        ),
        radial-gradient(
            120% 80% at 10% 100%,
            rgb(0 137 255),
            transparent 60%
        );

        background-size: 180px 180px, 100%, 100%;

        opacity: 0.35;

        mix-blend-mode: overlay;
}


.output_header {
    padding: 10px 16px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #9fd4ff;

    background: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.output_body{
    padding: 14px 16px;
    font-size: 15px;
    line-height: 1.6;
}

.line.output { color: #7CFF9E; }
.line.info { color: #7CC7FF; }
.line.error { color: #FF7A7A; }

.cursor_line{
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.promt{
    color: #9CFF9C;
    margin-right: 6px;
}

.cursor{
    width: 8px;
    height: 18px;
    background: #9CFF9C;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}








.row_blocks, .row1_blocks, .row2_blocks, .row3_blocks
{
    flex-direction: row; 
    gap: 33px; 
    display: flex; 
}




.block {
    cursor: grab;

    transition: opacity 0.3s ease;
}

.block.clear {
    opacity: 0;
}



.varuable_block, .assignment_block, .if_block, 
.else_block, .arif_block, .cycle_for_block, .start_block, .endif_block, .endelse_block, .array_block, .cycle_while_block, .output_block, .__block, .logic_and_block, .logic_or_block, .array_index_block {
    overflow: visible !important;
    background-color: transparent; 
    padding: 0;
    margin: 5px 0;
    cursor: grab;
    width: fit-content; 
    display: block;
}



.sidebar svg {
    display: block;
    filter: drop-shadow(0 2px 3px rgba(0,0,0,0.3)); 
    transition: transform 0.1s;
}

.sidebar svg:hover {
    transform: translateY(-2px); 
}

.content svg {
    width: 100%; 
    height: 100%; 
    display: block; 
}

@keyframes shake {
    0% {transform: translateX(0);}
    20% {transform: translateX(-4px);}  
    40% {transform: translateX(4px);}
    60% {transform: translateX(-4px);}
    80% {transform: translateX(4px);}
    100% {transform: translateX(0);}
}

.trash {
    background: white;
    transition: 0.2s;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.trash img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.trash.shaking {
    animation: shake 0.25s infinite;
    background-color: #ff4d4d;
    box-shadow: 0 0 20px red;
}
